sortedcontainers>=2.1.0
numpy>=1.16
jsonpickle>=1.4
pyyaml>=5.4
smart-open==1.8.4
typed_astunparse~=2.1.4
funcsigs==1.0.2
mypy_extensions~=0.4.3
typed_ast>=1.5.0
jsonschema>=3.0.2
typing-inspect>=0.6.0
dataclasses~=0.7; python_version <'3.7'
importlib-resources==5.1.4;python_version<'3.7'
packaging~=21.2
asyml-utilities
enum34
