# Addtional requirements for docs.

sphinx-rtd-theme >= 0.5.0
sphinxcontrib-spelling
Pygments >= 2.1.1
recommonmark

# PyTorch installation for ReadTheDocs
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl

# faiss
faiss-cpu>=1.6.1

# elasticsearch
elasticsearch==7.5.1

# Transformers
transformers>=3.1

# NLTK
nltk==3.4.5
